# list html docs from first to last to combine into one doc
index.html
glossary.html
start_page.html
new_experiment.html
stage_load.html
stage_nimbus.html
stage_primers.html
stage_index.html
stage_miseq.html
stage_alleles.html
stage_reporting.html
ngsg_version_select.html
ngsg_reference.html
ngsg_retype.html
info_viewer.html
file_formats.html
sequence_matching.html
